@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Footer 
    {
            <span>Mundo das Corridas <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/2012_WTCC_Race_of_Japan_%28Race_1%29_opening_lap.jpg/1200px-2012_WTCC_Race_of_Japan_%28Race_1%29_opening_lap.jpg" style="height: 50px; width: 50px;"/> </span>
     }
